<div class="col col-6 offset-6 text-right"><h2>Navigation</h2></div>
<div id="main-nav-links" class="col col-12">
    <a href="/" class="main-nav-link active">Start</a>
    <a href="#" class="main-nav-link">Impressum</a>
    <a href="#" class="main-nav-link">Datenschutz</a>
</div>