@using Microsoft.AspNetCore.Identity
@using CoronaHomer.Models.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index"><span>@User.Identity.Name (Solidarität: @((await UserManager.GetUserAsync(User)).SolidarityScore))</span><i class="fas fa-user-circle fa-lg"></i></a>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index"><span>Login</span><i class="fas fa-user-circle fa-lg"></i></a>
}
